.A {
  width: 400px;
  background-color: hotpink;
  padding: 20px;
}
.B {
  width: 360px;
  background-color: bisque;
  padding: 20px;
}
.C {
  width: 320px;
  background-color: chartreuse;
  padding: 20px;
}
.D {
  width: 280px;
  background-color: khaki;
  padding: 20px;
}