.App {
  width: 400px;
}
.input {
  height: 50px;
  width: 100%;
  border: 1px solid #999;
}
.item,.footer {
  height: 40px;
  width: 100%;
  border: 1px solid #999;
}
.button {
  background: red;
  float: right;
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
}
.footer-total {
  margin-left: 15px;
}
.second-root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
