.App {
  width: 50%;
  margin: 0 auto;
}
.input {
  height: 50px;
  width: 100%;
  border: 1px solid #999;
}
.item,.footer {
  height: 30px;
  width: 100%;
  border: 1px solid #999;
}
.button {
  background: red;
  float: right;
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
}
.footer-total {
  margin-left: 15px;
}
